@keyframes getin {
    from {opacity: 0;}
    to   {opacity: 1;}
}

.mybody {
    background-color: #454242;
	position: absolute;
    height: 100vh;
	width: 100vw;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.container1 {
    position: absolute;
    width: 800px;
    left: 50%;
    top: 5vh;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    transition: 0.5s;
}




.head {
    width: 100%;
    height: 5vh;
    background-color: #ADA4A4;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;   
}

.box1 {
    width: 100%;
    height: 45vh;
    background-color: #150C0C;
}

.box2 {
    width: 100%;
    height: 40vh;
    background-color: #150C0C;
}

.box3 {
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    background-color: #150C0C;
    transition: 0.5s;
}

#picture {
    position: absolute;
	width: 20vh;
	height: 20vh;
	top: 15vh;
	left: 6vh;
	overflow: hidden;
}

#profilepicture {
    width: auto;
	height: 100%;
}

#myname {
    position: absolute;
	top: 19vh;
	left: 37%;
	font-size: 5vh;
    color: #FFF;
    transition: 0.5s;
}

#qoute {
    position: absolute;
    top: 25vh;
    left: 37%;
    font-size: 2vh;
    color: #FFF;
    width: 30vw;
    opacity: 0.8;
    transition: 0.5s;
}



.aboutme {
    font-size: 3vh;
    padding-top: 1%;
}

.resume {
    font-size: 3vh;
    padding-top: 1%;
}

.elemschool {
    position: absolute;
    width: auto;
    height: auto;
    left: 8%;
    top: 62vh;
    z-index: 999;
    color: #ddd;
    font-size: 2vh;
    transition: 0.5s;
}

.elem {
    top:64vh;
    position: absolute;
    width: auto;
    height: auto;
    left: 11%;
    z-index: 999;
    color: #FFF;
    font-size: 3vh;
    transition: 0.5s;
}

.boxcontainer {
    border: 1px #FFF solid;
    width: 100%;
    margin-bottom: 2vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.highschool {
    position: absolute;
    width: auto;
    height: auto;
    left: 8%;
    top: 68vh;
    z-index: 999;
    color: #ddd;
    font-size: 2vh;
    transition: 0.5s;
}

.high {
    top:70vh;
    position: absolute;
    width: auto;
    height: auto;
    left: 11%;
    z-index: 999;
    color: #FFF;
    font-size: 3vh;
    transition: 0.5s;
}

.collegeschool {
    position: absolute;
    width: auto;
    height: auto;
    left: 8%;
    top: 74vh;
    z-index: 999;
    color: #ddd;
    font-size: 2vh;
    transition: 0.5s;
}

.college {
    top:76vh;
    position: absolute;
    width: auto;
    height: auto;
    left: 11%;
    z-index: 999;
    color: #FFF;
    font-size: 3vh;
    transition: 0.5s;
}

.elemyear {
    position: absolute;
    width: auto;
    height: auto;
    left: 23%;
    top: 62.4vh;
    z-index: 999;
    color: #FFF;
    font-size: 1vh;
    border: 1px #FFF solid;
    border-radius: 3px;
    padding: 3px;
    background-color: #45618e;
    transition: 0.5s;
}

.highyear {
    position: absolute;
    width: auto;
    height: auto;
    left: 23%;
    top: 68.4vh;
    z-index: 999;
    color: #FFF;
    font-size: 1vh;
    border: 1px #FFF solid;
    border-radius: 3px;
    padding: 3px;
    background-color: #45618e;
    transition: 0.5s;
}

.collegeyear {
    position: absolute;
    width: auto;
    height: auto;
    left: 23%;
    top: 74.4vh;
    z-index: 999;
    color: #FFF;
    font-size: 1vh;
    border: 1px #FFF solid;
    border-radius: 3px;
    padding: 3px;
    background-color: #45618e;
    transition: 0.5s;
}

.education {
    position: absolute;
    width: auto;
    height: auto;
    left: 4%;
    top: 58vh;
    z-index: 999;
    color: #FFF;
    font-size: 3vh;
    font-weight: bold;
    transition: 0.5s;
}

.skilltext {
    position: absolute;
    width: auto;
    height: auto;
    left: 4%;
    top: 1vh;
    z-index: 999;
    color: #FFF;
    font-size: 3vh;
    font-weight: bold;
}

.workexp {
    position: absolute;
    width: auto;
    height: auto;
    left: 4%;
    top: 82vh;
    z-index: 999;
    color: #FFF;
    font-size: 3vh;
    font-weight: bold;
    transition: 0.5s;
}

#workinfo {
    position: absolute;
	width: 70%;
	height: 15vh;
	top: 84vh;
	left: 1vw;
    transition: 0.5s;
}

#worklist {
    position: absolute;
}

#firstjob {
    position: absolute;
    width: 500px;
    height: auto;
    padding: 0;
    margin: 0;
    transition: 0.5s;
}

@keyframes zero {
    from {width: 0;}  
}

.photoshop{
	background-color: #0341a5 !important;
}

.illustrator{
	background-color: #ba5c0b !important;
}

.indesign{
	background-color: #87069e !important;
}

.microsoft{
	background-color: #205fd6 !important;
}

.user{
	background-color: #15913e !important;
}

.typography	{
	background-color: #000 !important;
}

.webapp	{
	background-color: #d11215 !important;
}

.html	{
	background-color: #e26e1b !important;
}

.css	{
	background-color: #7b9935 !important;
}

.php	{
	background-color: #86a4ef !important;
}

.javascript	{
	background-color: #b2b20a !important;
}


.separate {
    position: absolute;
    right: 35%;
    width: 0;
    height: 40vh;
    z-index: 999;
    border: 1px #FFF solid;
    transition: 0.5s;
}

#myprogressps {
    background-color: #ddd;
    position: absolute;
    width: 80%;
    left: 10%;
    height: 4.8%;
    top: 6vh;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#myprogressai {
    background-color: #ddd;
    width: 80%;
    left: 10%;
    position: absolute;
    height: 2.1vh;
    top: 9vh;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#myprogressid {
    background-color: #ddd;
    position: absolute;
    width: 80%;
    left: 10%;
    height: 4.9%;
    top: 12vh;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#myprogressmo {
    background-color: #ddd;
    width: 80%;
    left: 10%;
    position: absolute;
    height: 4.8%;
    top: 15vh;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#myprogressus {
    background-color: #ddd;
    width: 80%;
    left: 10%;
    position: absolute;
    height: 4.8%;
    top: 18vh;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#myprogressty {
    background-color: #ddd;
    width: 80%;
    left: 10%;
    position: absolute;
    height: 4.8%;
    top: 21vh;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#myprogresswa {
    background-color: #ddd;
    width: 80%;
    left: 10%;
    position: absolute;
    height: 4.9%;
    top: 24vh;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#myprogressht {
    background-color: #ddd;
    width: 80%;
    left: 10%;
    position: absolute;
    height: 4.8%;
    top: 27vh;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#myprogresscs {
    background-color: #ddd;
    width: 80%;
    left: 10%;
    position: absolute;
    height: 4.8%;
    top: 30vh;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#myprogresspm {
    background-color: #ddd;
    width: 80%;
    left: 10%;
    position: absolute;
    height: 4.9%;
    top: 33vh;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#myprogressjq {
    background-color: #ddd;
    width: 80%;
    left: 10%;
    position: absolute;
    height: 4.8%;
    top: 36vh;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.jobtitle {
    margin-left: 6%;
    color: #FFF;
    transition: 0.5s;
}

.dates {
    font-size: 1vh;
    border: 1px #FFF solid;
    border-radius: 3px;
    padding: 3px;
    background-color: #45618e;
    color: #FFF;
    position: none;
    margin-top: 2.5vh;
    left: 70%;
    transition: 0.5s;
}

.desc {
    margin-left: 8%;
    color: #FFF;
    font-size: 1.2vh;
    transition: 0.5s;
}

.skills {
    position: absolute;
    width: 36%;
    height: 45vh;    
    left: 65%;
    top: 57vh;
    transition: 0.5s;
}

@media screen and (max-width: 750px) {
    #picture {
        position: absolute;
        width: 20vh;
        height: 20vh;
        top: 8vh;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
    }
    
    #myname {
        position: absolute;
        top: 27vh;
        width: 100%;
        left: 0%;
        text-align: center;
        font-size: 5vh;
        color: #FFF;
        transition: 0.5s;
    }
    
    #qoute {
        position: absolute;
        top: 33vh;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2vh;
        color: #FFF;
        opacity: 0.8;
        width: 90vw;
        text-align: center;
        transition: 0.5s;
    }
    
    
    body .boxcontainer {
        border: 1px #FFF solid;
        width: 100%;
        margin-bottom: 0;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    
    .container1 {
        position: absolute;
        width: 100%;
        left: 50%;
        top: 5vh;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        transition: 0.5s;
    }
    

    

    
   .elemschool {
        position: absolute;
        width: auto;
        height: auto;
        left: 50%;
        z-index: 999;
        color: #ddd;
        transform: translateX(-50%);
        top: 60vh;
        font-size: 2vh;
        transition: 0.5s;
    }
    
    .highschool {
        position: absolute;
        width: auto;
        height: auto;
        left: 50%;
        z-index: 999;
        color: #FFF;
        transform: translateX(-50%);
        top: 69vh;
        font-size: 2vh;
        transition: 0.5s;
    }
    
    .collegeschool {
        position: absolute;
        width: auto;
        height: auto;
        left: 50%;
        z-index: 999;
        color: #FFF;
        transform: translateX(-50%);
        top: 78vh;
        font-size: 2vh;
        transition: 0.5s;
    }
    
    .head {
        width: 100%;
        height: 5vh;
        background-color: #ADA4A4;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;   
    }
    
    .box2 {
        width: 100%;
        height: 100%;
        background-color: #150C0C;
    }
    
    .box3 {
        position: absolute;
        flex-direction: column;
        width: 100%;
        height: 45vh;
        background-color: #150C0C;
        transition: 0.5s;
    }
    
    .education {
        position: absolute;
        width: 100%;
        height: auto;
        left: 0%;
        text-align: center;
        top: 56vh;
        z-index: 999;
        color: #FFF;
        font-size: 3vh;
        font-weight: bold;
        transition: 0.5s;
    }
    
    .skilltext {
        position: absolute;
        width: auto;
        height: auto;
        left: 50%;
        transform: translateX(-50%);
        top: 0vh;
        z-index: 999;
        color: #FFF;
        font-size: 3vh;
        font-weight: bold;
    }
    
    .workexp {
        position: absolute;
        width: 100%;
        height: auto;
        left: 0%;
        text-align: center;
        top: 90vh;
        z-index: 999;
        color: #FFF;
        font-size: 3vh;
        font-weight: bold;
        transition: 0.5s;
    }
    
    #workinfo {
        position: absolute;
        width: 90vw;
        height: 15vh;
        top: 93vh;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.5s;
    }
    
    .separate {
        position: absolute;
        right: 0;
        top: 110vh;
        width: 100%;
        height: 0;
        border: 1px #FFF solid;
        transition: 0.5s;
    }
    
    #resumepart {
        height: 98vh;
    }
    
    .skills {
        position: absolute;
        width: 90vw;
        height: 45vh;
        left: 50%;
        transform: translateX(-50%);
        top: 110vh;
        transition: 0.5s;
    }
    
    #firstjob{
        position: absolute;
        width: 90vw;
        height: auto;
        transition: 0.5s;
    }
    
    .high {
        top:71vh;
        position: absolute;
        width: 100%;
        left: 0;
        height: auto;
        text-align: center;
        z-index: 999;
        color: #FFF;
        font-size: 3vh;
        transition: 0.5s;
    }
    
    .college {
        top:80vh;
        position: absolute;
        width: 100%;
        height: auto;
        left: 0%;
        text-align: center;
        z-index: 999;
        color: #FFF;
        font-size: 3vh;
        transition: 0.5s;
    }
    
    .elem {
        top:62vh;
        position: absolute;
        width: 100%;
        height: auto;
        left: 0%;
        text-align: center;
        z-index: 999;
        color: #FFF;
        font-size: 3vh;
        transition: 0.5s;
    }
    
    .elemyear {
        top:65.5vh;
        position: absolute;
        width: auto;
        height: auto;
        left: 50%;
        z-index: 999;
        color: #FFF;
        transform: translateX(-50%);
        font-size: 1vh;
        transition: 0.5s;
    }
    
    .highyear {
        top:74.5vh;
        position: absolute;
        width: auto;
        height: auto;
        left: 50%;
        z-index: 999;
        color: #FFF;
        transform: translateX(-50%);
        font-size: 1vh;
        transition: 0.5s;
    }
    
    .collegeyear {
        top:83.4vh;
        position: absolute;
        width: auto;
        height: auto;
        left: 50%;
        z-index: 999;
        color: #FFF;
        transform: translateX(-50%);
        font-size: 1vh;
        transition: 0.5s;
    }

    
    ul {
        position: absolute;
        top: 44vh;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        
    }
    
    .jobtitle {
        margin-left: 0;
        width: 100%;
        color: #FFF;
        text-align: center;
        transition: 0.5s;
    }

    .dates {
        position: absolute;
        margin-top: 0vh;
        font-size: 1vh;
        border: 1px #FFF solid;
        padding: 3px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #45618e;
        color: #FFF;
        transition: 0.5s;
    }

    .desc {
        top: 3vh;
        margin-top: 0;
        margin-left: 0;
        position: relative;
        left: 0%;
        text-align: center;
        color: #FFF;
        width: 100%;
        font-size: 1.2vh;
        transition: 0.5s;
    }
    
    #myprogressps {
        background-color: #ddd;
        position: absolute;
        width: 90vw;
        left: 50%;
        transform: translateX(-50%);
        height: 4.8%;
        top: 5vh;
        border: 1px solid #ddd;
        border-radius: 3px;
    }
    
    #myprogressai {
        background-color: #ddd;
        width: 90vw;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        height: 2.2vh;
        top: 8vh;
        border: 1px solid #ddd;
        border-radius: 3px;
    }

    #myprogressid {
        background-color: #ddd;
        position: absolute;
        width: 90vw;
        left: 50%;
        transform: translateX(-50%);
        height: 4.9%;
        top: 11vh;
        border: 1px solid #ddd;
        border-radius: 3px;
    }

    #myprogressmo {
        background-color: #ddd;
        width: 90vw;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        height: 4.8%;
        top: 14vh;
        border: 1px solid #ddd;
        border-radius: 3px;
    }

    #myprogressus {
        background-color: #ddd;
        width: 90vw;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        height: 4.8%;
        top: 17vh;
        border: 1px solid #ddd;
        border-radius: 3px;
    }

    #myprogressty {
        background-color: #ddd;
        width: 90vw;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        height: 4.9%;
        top: 20vh;
        border: 1px solid #ddd;
        border-radius: 3px;
    }

    #myprogresswa {
        background-color: #ddd;
        width: 90vw;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        height: 4.9%;
        top: 23vh;
        border: 1px solid #ddd;
        border-radius: 3px;
    }

    #myprogressht {
        background-color: #ddd;
        width: 90vw;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        height: 4.8%;
        top: 26vh;
        border: 1px solid #ddd;
        border-radius: 3px;
    }

    #myprogresscs {
        background-color: #ddd;
        width: 90vw;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        height: 4.8%;
        top: 29vh;
        border: 1px solid #ddd;
        border-radius: 3px;
    }

    #myprogresspm {
        background-color: #ddd;
        width: 90vw;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        height: 4.9%;
        top: 32vh;
        border: 1px solid #ddd;
        border-radius: 3px;
    }

    #myprogressjq {
        background-color: #ddd;
        width: 90vw;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        height: 4.8%;
        top: 35vh;
        border: 1px solid #ddd;
        border-radius: 3px;
    }
    

    
    .pens {
        padding: 10px;
        height: 45vh;
        width: 100%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        border-bottom: 1px #FFF solid;

    }

    .penhead {
        position: relative;
        width: 100%;
        top: 0%;
        left: 0%;
        text-align: center;
        color: #FFF;
        font-size: 3vh;
        height: 4vh;
    }

    .penbody {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        border: 1px #FFF solid;
        height: 39vh;
        width: 100%;
    }
}


.inline {
    display: inline-block;
}

@media screen and (max-width: 430px) {
    .dates {
        position: absolute;
        left: 50%;
        top: 8vh;
        transform: translateX(-50%);
        margin-top: 0vh;
        font-size: 1vh;
        border: 1px #FFF solid;
        border-radius: 3px;
        padding: 3px;
        background-color: #45618e;
        color: #FFF;
        transition: 0.5s;
    }
    
    .desc {
        margin-left: 0%;
        color: #FFF;
        font-size: 1vh;
        margin-top: 1vh;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        color: #FFF;
        width: 100%;
        font-size: 1.2vh;
        transition: 0.5s;
    }
    
}







#progresstext {
    position: absolute;
	z-index: 99;
	color: #FFF;
	font-weight: bold;
    font-size: 1.5vh;
	left: 3%;
}

.progress {
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    height: 2vh !important;
}




.Portfolio {
    font-size: 3vh;
    padding-top: 1%;
}

.pens {
    padding: 10px;
    height: 45vh;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px #FFF solid;
    
}

.penhead {
    width: 100%;
    position: relative;
    color: #FFF;
    font-size: 3vh;
    height: 4vh;
}

.penbody {
    position: relative;
    border: 1px #FFF solid;
    height: 39vh;
}

ul li {
    list-style: none;
}



ul {
    position: absolute;
    top: 43vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    padding: 0;
    margin: 0;
}

ul li a {
    display: block;
    padding: 9 0 ;
    position: relative;
    width: 5vh;
    height: 5vh;
    line-height: inherit;
    font-size: 3.5vh;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    margin: 0 10px;
    transition: .5s;
}

ul li a span {
    position: absolute;
    transition: transform .5s;
}

ul li a span:nth-child(1),
ul li a span:nth-child(3) {
    width: 100%;
    height: 1px;
    background: #C90000;
}

ul li a span:nth-child(1){
    top: 0;
    left: 0;
    transform-origin: right;
}
ul li a:hover span:nth-child(1){
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}

ul li a span:nth-child(3){
    bottom: 0;
    left: 0;
    transform-origin: left;
}
ul li a:hover span:nth-child(3){
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}


ul li a span:nth-child(2),
ul li a span:nth-child(4) {
    width: 1px;
    height: 100%;
    background: #C90000;
}

ul li a span:nth-child(2){
    top: 0;
    left: 0;
    transform: scale(0);
    transform-origin: bottom;
}
ul li a:hover span:nth-child(2){
    transform: scale(1);
    transform-origin: top;
    transition: transform .5s;
}

ul li a span:nth-child(4){
    top: 0;
    right: 0;
    transform: scale(0);
    transform-origin: top;
}
ul li a:hover span:nth-child(4){
    transform: scale(1);
    transform-origin: bottom;
    transition: transform .5s;
}

